{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $work_email := promptStringOnce . "work_email" "Work Email address (Leave empty if not a work machine)" -}}
{{- $work_name := promptStringOnce . "work_name" "Work Company Name (Leave empty if not a work machine)" -}}

[data]
work = {{ promptBoolOnce . "work" "Is this a work machine?" }}
email = {{ $email | quote }}
work_email = {{ $work_email | quote }}
work_name = {{ $work_name | quote }}
